{% extends "base.html.twig" %}
{% block title %}Login Form{% endblock %}
{% block content %}
    <h1 class="text-center alert alert-primary">PWPop - Online Storage</h1>

    <div class="row m-4 text-center">

        <form id="form_login" class="col" action="/login" enctype="application/x-www-form-urlencoded" method="POST">
            <h2 class="mb-4">Login</h2>
            {% if LoginFail == "1" %}
                <h3 class="mb-4" style="color:#FF0000";>Email/Username or password incorrects</h3>
            {% endif %}
            <div class="form-group"><input id="usernameLogin" type="text" name="email" class="form-control-sm" placeholder="Username or Email" onkeyup="comprovaInput('login')"></div>
            <div class="form-group"><span id="error1" style="color: red"></span></div>
            <div class="form-group"><span id="error1_1" style="color: red"></span></div>
            <div class="form-group"><input id="password" type="password" name="password" class="form-control-sm" placeholder="Password" onkeyup="comprovaInput('login')"></div>
            <div class="form-group"><span id="error4" style="color: red"></span></div>
            <div class="form-group"><input id="rememberMe" type="checkbox" name="rememberMe" class="form-control-sm" value="rememberMe"> Remember me</div>
            <div class="form-group"><button class="btn-dark">Send</button></div>
        </form>
    </div>
    <input type="button" value="Go back" class="btn-dark" onclick="history.back()">

    {% if action == "login_user" and statusValue == "error" %}
        <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">close &times;</span>
        </button>
        <h4 class="alert-heading" style="color: red">CANNOT LOGIN</h4>
        <h5 class="alert-heading" style="color: red">Check requirements below</h5>
        <hr>
        <div><span id="alert1" style="color: darkred">· USERNAME OR LOGIN FIELD IS REQUIRED</span></div>
        <br>
        <div><span id="alert1" style="color: darkred"> -> Username must only contain alphanumeric characters</span></div>
        <br>
        <div><span id="alert1_1" style="color: darkred">-> Username must contain a maximum of 20 characters</span></div>
        <hr>
        <div><span id="alert1" style="color: darkred">· PASSWORD FIELD IS REQUIRED</span></div>
        <br>
        <div><span id="alert2" style="color: darkred">-> Password must be 6 to 12 characters long</span></div>
        <br>
        <div><span id="alert2_1" style="color: darkred">-> Password must at least contain one number and a capital letter.</span></div>
        <hr>
    </div>
    {% endif %}

{% endblock %}