{% extends "base.html.twig" %}
{% block title %}Register{% endblock %}
{% block content %}
    <h1 class="text-center alert alert-primary">PWPop - Online Storage</h1>
    <div class="row m-4 text-center">
        <form id="form_registration" class="col" action="/register" enctype="multipart/form-data" method="POST" >
            <h2 class="mb-4">Register</h2>
            <div class="form-group"><input id="name" type="text" name="name" class="form-control-sm" placeholder="Name" onkeyup="comprovaInput('notLogin')"></div>
            <div class="form-group"><span id="error0" style="color: red"></span></div>
            <div class="form-group"><input id="username" type="text" name="username" class="form-control-sm" placeholder="UserName" onkeyup="comprovaInput('notLogin')"></div>
            <div class="form-group"><span id="error1" style="color: red"></span></div>
            <div class="form-group"><span id="error1_1" style="color: red"></span></div>
            <div class="form-group"><input id="email" type="email" name="email" class="form-control-sm" placeholder="Email" onkeyup="comprovaInput('notLogin')"></div>
            <div class="form-group"><span id="error2" style="color: red"></span></div>
            <div class="form-group"><input id="birthday" type="text" name="birthday" class="form-control-sm" placeholder="01/02/1990" onkeyup="comprovaInput('notLogin')"></div>
            <div class="form-group"><span id="error3" style="color: red"></span></div>
            <div class="form-group"><input id="phoneNumber" type="text" name="phoneNumber" class="form-control-sm" placeholder="XXXXXXXXX" onkeyup="comprovaInput('notLogin')"></div>
            <div class="form-group"><span id="error6" style="color: red"></span></div>
            <div class="form-group"><input id="password" type="password" name="password"  class="form-control-sm" placeholder="Password" onkeyup="comprovaInput('notLogin')"></div>
            <div class="form-group"><span id="error4" style="color: red"></span></div>
            <div class="form-group"><input id="confirmPassword" type="password" name="confirmPassword" class="form-control-sm" placeholder="Confirm Password" onkeyup="comprovaInput('notLogin')"></div>
            <div class="form-group"><span id="error5" style="color: red"></span></div>
            <!--<div class="form-group"><input id="profileImage" type="text" name="profileImage" class="form-control-sm" placeholder="profileImage" ></div>
            <div class="form-group"><span id="error7" style="color: red"></span></div>*/-->

            <input type="file" name="file" >
            {% if errors is defined %}
                <ol>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ol>
            {% endif %}

            <div><button type="submit" name="button" class="btn-dark">Register</button></div>
        </form>
    </div>
{% endblock %}
{% block footer_scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#uploadFile').click(function(){ $('#imageUpload').trigger('click'); });
        $('#profileImage').click(function(){ $('#imageUpload').trigger('click'); });
        function fasterPreview( uploader ) {
            if ( uploader.files && uploader.files[0] ){
                $('#profileImage').attr('src',
                    window.URL.createObjectURL(uploader.files[0]) );
            }
        }

        $("#imageUpload").change(function(){
            fasterPreview( this );
        });
    </script>
{% endblock %}